.foodKindDown{
    background-color: rgb(50, 72, 168);
    width: 0px;
    position: absolute;
    height: 60px;
    z-index: -5;
    box-shadow: 0px 22px 15px -2px rgba(78, 78, 78, 0.719);
}

.foodKindDown-enter {
    width: 0px;
  }
  .foodKindDown-enter-active {
    width: 122px;
    transition: width 400ms cubic-bezier(0.65, 0, 0.35, 1);
  }
  .foodKindDown-enter-done {
    width: 122px;
  }
  .foodKindDown-exit {
    width: 0px;
    transition: width 400ms;
  }
  .foodKindDown-exit-active {
    width: 0px;
    transition: width 400ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .foodKindDown2{
    background-color: rgb(196, 206, 253);
    width: 190px;
    position: absolute;
    height: 60px;
    transform: skewy(-35deg);
    margin-top: 66px;
    margin-left: -68px;
    z-index: -10;
    filter: drop-shadow(0px 10px 15px -5px rgba(75, 75, 75, 0.719));
}

.foodKindDown2-enter {
    clip-path: inset(0 0 0 100%);
  }
  .foodKindDown2-enter-active {
    clip-path: inset(0 0 0 0);
    transition: clip-path 400ms cubic-bezier(0.65, 0, 0.35, 1);
  }
  .foodKindDown2-enter-done {
    clip-path: inset(0 0 0 0);
  }
  .foodKindDown2-exit {
    clip-path: inset(0 0 0 100%);
    transition: clip-path 400ms;
  }
  .foodKindDown2-exit-active {
    clip-path: inset(0 0 0 100%);
    transition: clip-path 400ms cubic-bezier(0.65, 0, 0.35, 1);
  }

.foodKind{
    width: 100%;
    height: 8%;
    text-align: center;
    line-height: 100%;
    font-size: 40px;
    font-family: 'New Tegomin', serif;
    padding-top: 10px;
    margin-bottom: 10px;
    cursor:pointer;
    color: rgb(50, 72, 168);
}

.foodKind:hover{
    color: white;
    transition-delay:0.1s;
}

.foodKind-enter {
    color: rgb(50, 72, 168);
  }
  .foodKind-enter-active {
    color: white;
    transition: color 400ms;
  }
  .foodKind-enter-done {
    color: white;
  }
  .foodKind-exit {
    color: rgb(50, 72, 168);
    transition: color 400ms;
  }
  .foodKind-exit-active {
    color: rgb(50, 72, 168);
    transition: color 400ms;
  }
.foodKind2{
    width: 100%;
    height: 1px;
    margin-top: 4px;
}
.foodKind2Inside{
    width: 30%;
    height: 100%;
    background-color: rgb(181, 194, 255);
    margin: 0 auto;
}