.orderBody{
    display: flex;
}

.menuLeft{
    position: relative;
    color:rgb(50, 72, 168);
    flex: 55%;
    width:700px;
    margin-top: 140px;
    height: 600px;
    margin-left: 50px;
    border: 1px solid rgb(50, 72, 168);
    margin-right: 40px;  
    background-image: linear-gradient(40deg, rgb(232, 255, 252), rgb(252, 255, 248), rgb(255, 255, 255)); 
}

.menuRight{
    color:blue;
    flex: 38%;
    width:300px;
    margin-top: 140px;
    background-color: rgb(50, 72, 168);
    height: 600px;
    position: relative;
    border: 2px solid rgb(50, 72, 168);
    margin-right: 20px;
    padding-left: 10px;
}

.foodNames{
  width: 110px;
  height: 95.8%;
  float: left;
  margin-top: 10px;
  background-color: rgb(80, 106, 223);
  overflow: hidden;
  white-space:nowrap;
  z-index: -100;
  padding-left: 15px;
  padding-top: 5px;
}

.foodPic{
    width: 505px;
    height: 585px;
    /* border: 1px solid rgb(78, 172, 172); */
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    justify-content: center;
}


.foodKind2Inside:hover{
    animation-name: showRI;
    animation-duration: 2s;
    animation-fill-mode : forwards;
    animation-delay: 0.2s;
}

@keyframes showRI {
    from {width: 0px;}
    to {width: 122px;}
  }


  #text {
    margin: 0;
    font-size: 100px;
    animation: reveal 2s forwards;
  }
  
  @keyframes reveal {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

.foodPicLarge{
  width:98%;
  height: 500px;
  border: 1px solid rgb(50, 72, 168);
}

.foodPicSmall{
  width: 98%;
  height: 64px;
  border: 1px solid rgb(50, 72, 168);
  margin: 0px auto;
  margin-top: 10px;
  margin-left: 0px;

}

.menuRightTitle{
  font-size: 30px;
  color: white;
  font-family: 'New Tegomin', serif;
  margin-left: 5px;
  border-left: 4px solid white;
  margin-top: 10px;
  padding-bottom: 3px;
  padding-left: 5px;
  margin-bottom: 8px;
  display: inline-block;
}

.totalMoney{
  margin: 0px auto;
  width: 82%;
  height: 60px;
  background-color: white;
  position:absolute; 
  bottom:5px;
  left: 10px;
}

.totalMoneyTitle{
  width: 60px;
  height: 40px;
  color: rgb(50, 72, 168);
  font-family: 'New Tegomin', serif;
  border-right: 2px solid rgb(50, 72, 168);
  font-size: 30px;
  line-height: 40px;
  margin-left: 15px;
  margin-top: 7px;
  padding-bottom: 5px;
  padding-right: 5px;
  display: inline-block;
}

.totalMoneyMoney{
  float: right;
  color: rgb(50, 72, 168);
  font-family: 'New Tegomin', serif;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 5px;
}
.pay{
  width: 15%;
  height: 56px;
  background-color: rgb(50, 72, 168);
  position:absolute; 
  bottom:5px;
  right: 10px;
  font-size: 30px;
  font-family: 'New Tegomin', serif;
  color: white;
  text-align: center;
  border: 2px solid white;
  line-height: 50px;
  cursor:default;
  user-select: none;
}


.rightOpen-enter{
  width: 0px;
}
.rightOpen-exit{
  width: 110px;
}
.rightOpen-enter-done {
  width: 110px;
}
.rightOpen-enter-active{
  width: 110px;
  transition: width 600ms cubic-bezier(0.65, 0, 0.35, 1);
}
.rightOpen-exit-active{
  width: 0px;
  transition: width 600ms cubic-bezier(0.61, 1, 0.88, 1);
}

.foodsizeIcon,.foodPrize,.foodNameUnder,.foodsizeIconOn{
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  font-family: 'New Tegomin', serif;
  display: inline-block;
  border:1px solid rgb(50, 72, 168);
  font-size: 30px;
  line-height: 45px;
  z-index: 15;
  cursor: Default;
  user-select: none;
}

.foodNameUnder{
  width: 140px;
  display: inline-block;
  font-family: 'New Tegomin', serif;
  vertical-align: top;
  font-size: 25px;
  background-color: rgb(50, 72, 168);
  color: white;
}

.foodPrize{
  width: 80px;
  display: inline-block;

}

.foodsizeIconOn{
  background-color: rgb(50, 72, 168);
  color: white;
}

.deleteAlert,.deleteAlert2{
  width: 360px;
  height: 100px;
  position: fixed;
  top: 80px;
  left: 39%;
  background-color: white;
  z-index: 10000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(53, 53, 53);
  font-family: 'New Tegomin', serif;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  color: rgb(50, 72, 168);
}

.deleteAlert2{
  color: brown;
}

.yesBtn, .noBtn{
  width: 50%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid rgb(50, 72, 168);
  color: rgb(50, 72, 168);
  cursor: default;
}

.noBtn{
  left: 50%;
  background-color: rgb(50, 72, 168);
  color: white;
}

.alertStyle-enter{
  transform: translateY(-100%);
}
.alertStyle-exit{
  transform: translateY(0);
}
.alertStyle-enter-done {
  transform: translateY(0);
}
.alertStyle-enter-active{
  transform: translateY(0);
  transition: transform 300ms cubic-bezier(0.65, 0, 0.35, 1);
}
.alertStyle-exit-active{
  transform: translateY(-150%);
  transition: transform 300ms cubic-bezier(0.61, 1, 0.88, 1);
}

.deleteAll{
  width: 75px;
  height: 42px;
  background-color: white;
  float: right;
  margin: 8px;
  color: rgb(50, 72, 168);
  font-family: 'New Tegomin', serif;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  cursor: default;
  border: 2px solid white;
  transition: 0.4s all;
  user-select: none;
}

.deleteAll:hover{
  background-color: rgb(50, 72, 168);
  color: white;
}